<a href="https://colab.research.google.com/github/zbigsr814/data-scienice-bootcamp/blob/main/04_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

Series

In [ ]:
s = pd.Series(data=[3,np.nan,5,6], name="sample")
s

0    3.0
1    NaN
2    5.0
3    6.0
Name: sample, dtype: float64

In [ ]:
from pandas.core.arrays.datetimelike import frequencies
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20100101', periods=10))
s

2010-01-01    10
2010-01-02    11
2010-01-03    12
2010-01-04    13
2010-01-05    14
2010-01-06    15
2010-01-07    16
2010-01-08    17
2010-01-09    18
2010-01-10    19
Freq: D, dtype: int64

In [ ]:
s.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
s.dtype

dtype('int64')

In [ ]:
s.shape

(10,)

In [4]:
price = pd.Series(data={'abc': 12, 'def': 434, 'ghi': 500, 'jkl':np.nan})
price

abc     12.0
def    434.0
ghi    500.0
jkl      NaN
dtype: float64

In [ ]:
price.count()

3

In [ ]:
price.value_counts()

12.0     1
434.0    1
500.0    1
dtype: int64

In [ ]:
price.describe()

count      3.000000
mean     315.333333
std      264.759010
min       12.000000
25%      223.000000
50%      434.000000
75%      467.000000
max      500.000000
dtype: float64

In [ ]:
price.nlargest(2)

ghi    500.0
def    434.0
dtype: float64

In [ ]:
price.nsmallest(1)

abc    12.0
dtype: float64

In [ ]:
price.rank()

abc    1.0
def    2.0
ghi    3.0
jkl    NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

ghi    500.0
def    434.0
abc     12.0
jkl      NaN
dtype: float64

In [6]:
price_pln = price.apply(lambda x: x*3.8)

In [7]:
price_pln

abc      45.6
def    1649.2
ghi    1900.0
jkl       NaN
dtype: float64

DataFrame

In [11]:
df = pd.DataFrame(data=[12,22,23], index=['first','second','third'], columns=['col_1'])
df

        col_1
first      12
second     22
third      23

In [35]:
df = pd.DataFrame(data=[['PKN','Orlen'],['BP','Shell']])
df

     0      1
0  PKN  Orlen
1   BP  Shell

In [15]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [20]:
df.values

array([['PKN', 'Orlen'],
       ['BP', 'Shell']], dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [21]:
df.describe()

          0      1
count     2      2
unique    2      2
top     PKN  Orlen
freq      1      1

In [22]:
df.describe().T

  count unique    top freq
0     2      2    PKN    1
1     2      2  Orlen    1

Selekcja kolumn

In [26]:
df[[1]]

       1
0  Orlen
1  Shell

In [36]:
df.columns = ['a','b']
df.index = ['j','d']

In [38]:
df['c'] = df['a']+df['b']
df

     a      b         c
j  PKN  Orlen  PKNOrlen
d   BP  Shell   BPShell

In [46]:
df.iloc[0,0]

'PKN'